.main {
	width: 650rpx;
	background-color: #FFF;
	border-radius: 32rpx;
	.header {
		padding: 22rpx 0;
		font-size: 32rpx;
		font-weight: 600;
		line-height: 44rpx;
		color: #141F33;
		text-align: center;
	}
	.footer {
		display: flex;
		column-gap: 48rpx;
		padding: 32rpx 48rpx;
        box-shadow: 0px -4rpx 8rpx 0px rgba(0, 0, 0, 0.05);
		.btn {
			flex: 1;
			height: 72rpx;
			padding: 0 56rpx;
			font-size: 32rpx;
			font-weight: 600;
			line-height: 72rpx;
			color: #616B80;
			background-color: #FFF;
			border: 1px solid #D3D7E0;
			border-radius: 44rpx;
			&::after {
				display: none;
			}
			&.confirm {
				color: #FFF;
				background: linear-gradient(90deg, #61BAEC 0%, #84DAEE 100%);
                border-color: inherit;
			}
			&.disabled {
				color: #FFF;
				background: #E1E1E1;
                border-color: inherit;
			}
		}
	}
}
