
/* 本项目公共样式 */

.bg-main {
	background-color: #FF4A6A!important;
}

.bg-hui-main {
	background-color: #A9A5A0;
}

.bg-main-disabled {
	background-color: #FF4A6A;
}

.bg-btn-main {
	background: linear-gradient(90deg, #61BAEC 0%, #84DAEE 100%) !important;
}

.bg-btn-main-disabled {
	background: #E1E1E1 !important;
}

.text-main{
	color: #3BDCA8;
	position: relative;
}

.text-main::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -4px;
	width: 40rpx;
	height: 6rpx;
	background-color: #4CE88E;
	margin: 0 auto;
}


.uni-swiper-tab{
	border-bottom: 1upx solid #EEEEEE;
}
.swiper-tab-list{
	color: #969696;
	font-weight: bold;
}
.uni-tab-bar .active{
	color: #343434;
}
.active .swiper-tab-line{
	border-bottom: 6upx solid #FEDE33;
	width: 70upx;
	margin: auto;
	border-top: 6upx solid #FEDE33;
	border-radius: 20upx;
}

.btn-primary {
	width: 640rpx;
	height: 84rpx;
	line-height: 84rpx;
	background: linear-gradient(90deg, #61BAEC 0%, #84DAEE 100%);
	border-radius: 42rpx;
	margin: 0 auto;
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFFFFF;
}

.btn-second {
	margin: 0 auto;
	width: 288rpx;
	height: 76rpx;
	background: #E2F3FF;
	border-radius: 12rpx;
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #62BBEC;
}
